# Środowisko wirtualne
.venv/

# Plik z sekretami
.env

# Inne systemowe pliki tymczasowe
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

/downloads
/datasets
/chunks
/vector_db
/models
/old

.vscode/
